<p id="notice"><%= notice %></p>

<p>
  <strong>Data point:</strong>
  <%= @data_points_task_set.data_point_id %>
</p>

<p>
  <strong>Task set:</strong>
  <%= @data_points_task_set.task_set_id %>
</p>

<%= link_to 'Edit', edit_data_points_task_set_path(@data_points_task_set) %> |
<%= link_to 'Back', data_points_task_sets_path %>
