<h1>Home Page</h1>


<%= link_to 'tasks', tasks_path %>
<%= link_to 'task_sets_users', task_sets_users_path %>
<%= link_to 'task_results', task_results_path %>
<%= link_to 'classification_options', classification_options_path %>
<%= link_to 'data_points_task_sets', data_points_task_sets_path %>
<%= link_to 'task_sets', task_sets_path %>
<%= link_to 'tasks', tasks_path %>
<%= link_to 'alien_comments', alien_comments_path %>
<%= link_to 'alien_stories', alien_stories_path %>
<%= link_to 'data_points', data_points_path %>
<%= link_to 'datasets', datasets_path %>